{% extends 'layout.html.twig' %}

{% block body %}
    <div class="header">
        <h1>PHPQuiz 🐘 <i>béta</i></h1>
    </div>

    <div class="content">
        <p>There is currently {{ count }} questions in the quiz. Click on the links
            below to start. Good luck! Go go go! 😀</p>

        <p>In the quiz mode, you pass all the questions without knowing the correct
        answer, once you have answered the last question, you will get your score.</p>

        <p>In the learn mode, you pass all the questions sequentially, the correct
        answer and the explanations are given as soon as you answer, the code will
        be available for copy/paste so you can test it and understand.</p>

        <p>Note that there is no ads nor subcription. You will be able to see your
        results wihout registering.</p>

        <ul>
            <li><a href="{{ path('quiz_new') }}">Test yourself with the hardest PHP quiz online (quiz mode)</a></li>
            <li><a href="{{ path('question_show') }}">Pass all questions sequentially with code and explanations (learn mode)</a></li>
            <li><a href="{{ path('question_last') }}">Show the last question of {{ last.createdAt|date('Y-m-d') }}</a></li>
            <li><a href="{{ path('question_random') }}">Show a random question</a></li>
        </ul>

        <hr/>

        {# set attr = {'class': 'pure-form pure-form-stacked', 'novalidate-off': 'novalidate'} #}
        {% set attr = {'class': 'pure-form pure-form-stacked'} %}
        {{ form_start(form, {'attr': attr}) }}
        <fieldset>
            {{ form_errors(form) }}
            <legend>Enter your quiz id to resume it:</legend>
            {{ form_widget(form.uuid, {attr: {class: 'pure-input-rounded pure-input-1-2'}}) }}
            {{ form_errors(form.uuid) }}
            <p class="center">
                <button type="submit" class="pure-button pure-button-primary button-large">Resume</button>
            </p>
        </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}
