{% extends 'layout.html.twig' %}

{% block title %}Quiz n{{ question.id }}: Answer the following question | PHPQuiz{% endblock %}

{% block jsapp %}show{% endblock %}

{% block body %}
    <div class="header">
        <h1>Quiz {{ question.id }}: Answer the following question</h1>
    </div>

    <div class="content">
        <p>
            Suggested by <a target="_blank" href="https://twitter.com/{{ question.suggestedBy.twitter }}">{{ question.suggestedBy.twitter }}</a> on {{ question.createdAt|date('Y-m-d') }}{% if question.updatedAt != question.createdAt %}
                • Modified on {{ question.updatedAt|date('Y-m-d') }}{% endif %}.
        </p>

        <h3>{{ question.label }}</h3>

        <img class="pure-img" src="{{ question.codeImage }}" alt="PHP Quiz n°{{ question.id }}"/>

        <h3>Answers</h3>

        <form class="pure-form pure-form-stacked" method="post">
            <fieldset>
                <legend>Select your answer:</legend>

                {% for answer in question.answers %}
                    <label class="pure-radio" for="answer_{{ answer.code }}">
                        <input v-model="answer" name="answer" id="answer_{{ answer.code }}" type="radio" value="{{ answer.code }}" />
                        <b>{{ answer.code }}</b>: {{ answer.label|raw }}
                    </label>
                {% endfor %}

                <p class="center">
                    <button v-on:click.prevent="validate" class="pure-button button-success button-xlarge">Validate</button>
                </p>
            </fieldset>
        </form>

        <hr/>

        <h3>The answer</h3>

        <details>
            <summary>Click here to see the answer</summary>
            <p>{{ question.answerExplanations }}</p>
        </details>

        <span class="size-60">▶&nbsp;</span> <a target="_blank" href="{{ question.liveSnippetUrl }}"> Click here to run this code on 3v4l.org</a><br/>

        <span class="size-60">▶&nbsp;</span> <a target="_blank" href="{{ question.twitterPollUrl }}"> Click here to see the Twitter poll</a><br/>

        {% if question.differencesOutputNotes %}
            <details>
                <summary>Click here to see output differences between PHP versions</summary>
                <p>{{ question.differencesOutputNotes|raw }}</p>
            </details>
        {% endif %}

        <br/>
        <hr/>

        <h3>Going further...</h3>

        <ul>
            {% for link in question.links %}
                <li><a target="_blank" href="{{ link.url }}">{{ link.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
      const question = {{ question|serialize(block('jsapp') )|raw }};
    </script>
    {{ parent() }}
{% endblock %}
