{% extends 'layout.html.twig' %}

{% block title %}Quiz n{{ question.id }}: Answer the following question | PHPQuiz{% endblock %}

{% block jsapp %}show{% endblock %}

{% block javascripts %}
    <script>
      const question = {{ question|serialize(block('jsapp') )|raw }};
    </script>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="header">
        <h1>Quiz {{ question.id }}: Answer the following question</h1>
    </div>

    <div class="content">
        <p>
            Suggested by <a target="_blank" href="https://twitter.com/{{ question.suggestedBy.twitter }}">{{ question.suggestedBy.twitter }}</a> on {{ question.createdAt|date('Y-m-d') }}{% if question.updatedAt != question.createdAt %}
                • Modified on {{ question.updatedAt|date('Y-m-d') }}{% endif %}.
        </p>

        <h3>{{ question.label }} 🤔</h3>

        <img class="pure-img" src="{{ question.codeImage }}" alt="PHP Quiz n°{{ question.id }}"/>

        <div v-if="!hasValidated">
            <h3>Answers</h3>

            <form class="pure-form pure-form-stacked" method="post" ref="form">
                <fieldset>
                    <legend>Select your answer: 🧐</legend>

                    {% for answer in question.answers %}
                        <label class="pure-radio" for="answer_{{ answer.code }}">
                            <input required="required" v-model="answer" name="answer" id="answer_{{ answer.code }}" type="radio" value="{{ answer.code }}" />
                            <b>{{ answer.code }}</b>: {{ answer.label|raw }}
                        </label>
                    {% endfor %}

                    <p class="center">
                        <button type="submit" v-on:click="validateAnswer" class="pure-button pure-button-primary button-xlarge">Validate</button>
                    </p>
                </fieldset>
            </form>
        </div>

        <div v-if="hasValidated">
            <hr/>

            <h1 v-if="isCorrect">✅ Correct!</h1>
            <h1 v-else>❌ Wrong answer!</h1>

            <blockquote class="content-quote">{{ question.answerExplanations }}</blockquote>

            <span class="size-60">▶&nbsp;</span> <a target="_blank" href="{{ question.liveSnippetUrl }}"> Click here to run this code on 3v4l.org</a><br/>

            <span class="size-60">▶&nbsp;</span> <a target="_blank" href="{{ question.twitterPollUrl }}"> Click here to see the Twitter poll</a><br/>

            {% if question.differencesOutputNotes %}
                <details>
                    <summary>Click here to see output differences between PHP versions</summary>
                    <p>{{ question.differencesOutputNotes|raw }}</p>
                </details>
            {% endif %}

            <br/>
            <hr/>

            <h3>Going further... 🤓</h3>

            <ul>
                {% for link in question.links %}
                    <li><a target="_blank" href="{{ link.url }}">{{ link.label }}</a></li>
                {% endfor %}
            </ul>

            {% if question.nextQuestion %}
                <h3>Want More? 🤔</h3>

                <p class="center">
                    <a href="{{ path('show', {id: question.nextQuestion.id}) }}" class="pure-button pure-button-primary button-xlarge">Next question</a>
                </p>
            {% else %}
                <h3>The end. 😭</h3>

                <p>Congratulations! You have reach the end of the quiz. We hope
                you enjoyed it and that you learned interesting things.</p>

                <p>
                    As you see this website heavily rely on 3v4l.org to test the
                    PHP snippets. If you like it, consider making a <a target="_blank" href="https://3v4l.org/sponsor">
                    donation</a>. See you soon! 😊
                </p>

                <p class="center">
                    <a href="{{ path('home') }}" class="pure-button pure-button-primary button-xlarge">Home</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
