{% extends 'layout.html.twig' %}

{% set isRandom = app.request.get('_route') == 'question_random' %}
{% set isLast = app.request.get('_route') == 'question_last' %}
{% set progress = (position / count * 100)|round %}
{% set isBeforeLastQuestion = (position + 1) == count %}

{% block title %}Quiz n°{{ position }}/{{ count }}: Answer the following question{% endblock %}

{% block jsapp %}show{% endblock %}

{% block javascripts %}
    <script>
      const questionId = {{ position }}
      const questionUrl = '{{ path('api_questions_get_item', {id: position }) }}'
    </script>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="header">
        <h1>Quiz {{ position }}/{{ count }}: Answer the following question</h1>
        {% if not (isRandom or isLast) %}
            <h4>Your progression: {{ progress }}%</h4>
            <progress value="{{ progress }}" max="100">{{ progress }}%</progress>
        {% endif  %}
    </div>

    <div class="content">
        <ul>
            {% if question.suggestedBy %}<li>Suggested by <a target="_blank" href="{{ question.suggestedBy.twitter }}">{{ question.suggestedBy.twitter }}</a></li>{% endif %}
            <li>Created on <b>{{ question.createdAt|date('Y-m-d') }}</b></li>
            {% if question.updatedAt != question.createdAt %}
                <li>Modified on <b>{{ question.updatedAt|date('Y-m-d') }}</b></li>
            {% endif %}
            <li>Difficulty: <b>{{ question.difficulty }}</b></li>
        </ul>

        <h3>{{ question.label }} 🤔</h3>

        <div>
            {{ question.description|markdown_to_html }}
        </div>

        <div v-if="!hasValidated">
            <form class="pure-form pure-form-stacked" method="post" ref="form">
                <fieldset>
                    <legend>Select your answer: 🧐</legend>

                    {% for answer in question.answers %}
                        <label class="pure-radio" for="answer_{{ loop.index0 }}">
                            <input required="required" v-model="answer" name="answer" id="answer_{{ loop.index0 }}" type="radio" value="{{ answer.order }}" />&nbsp;
                            <b>{{ answer.label }}
                        </label>
                    {% endfor %}

                    <p v-if="ready" class="center">
                        <button type="submit" v-on:click="validateAnswer" class="pure-button pure-button-primary button-xlarge">Submit</button>
                    </p>
                </fieldset>
            </form>
        </div>

        <div v-if="hasValidated">
            <hr/>

            <h1 v-if="isCorrect">✅ { answer }: correct!</h1>
            <h1 v-else>❌ { answer }: Wrong answer!</h1>

            <blockquote class="content-quote">{{ question.answerExplanations|markdown_to_html }}</blockquote>

            <hr/>

            {% if isRandom %}
                <h3>Want More? 🤔</h3>

                <p class="center">
                    <a href="{{ path('question_random') }}" class="pure-button pure-button-primary button-xlarge">New random question ⏩</a>
                </p>
            {% elseif isLast %}
                <h3>Want More? 🤔</h3>

                <p class="center">
                    <a href="{{ path('question_show') }}" class="pure-button pure-button-primary button-xlarge">👈️ Get back to first question</a>
                </p>
            {% elseif question.nextQuestion %}
                <h3>Want More? 🤔</h3>

                <p class="center">
                    <a href="{{ path('question_show', {id: position + 1}) }}" class="pure-button pure-button-primary button-xlarge">{{ isBeforeLastQuestion ? 'Last question' : 'Next question' }} ⏩</a>
                </p>
            {% else %}
                <h3>The end. 😭</h3>

                <p>Congratulations! You have reach the end of the quiz. We hope
                you enjoyed it and that you learned new things.</p>

                <p>
                    As you can see, this website relies on 3v4l.org to test the
                    PHP snippets. If you like it, consider making a <a target="_blank" href="https://3v4l.org/sponsor">
                    donation</a>. See you soon! 😊
                </p>

                <p class="center">
                    <a href="{{ path('home') }}" class="pure-button pure-button-primary button-xlarge">Home</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
