{% extends 'layout.html.twig' %}

{% block title %}Question n°{{ quiz_question.rank }}/{{ count }}: Answer the following question{% endblock %}

{% block og_image %}{{ question.codeImage|raw }}{% endblock %}

{% block body %}
    <div class="header">
        <h1>Question {{ quiz_question.rank }}/{{ count }}: Answer the following question</h1>
    </div>

    <div class="content">
        <ul>
            <li>Suggested by <a target="_blank" href="https://twitter.com/{{ question.suggestedBy.twitter }}">{{ question.suggestedBy.twitter }}</a>
            <li>Created on <b>{{ question.createdAt|date('Y-m-d') }}</b></li>
            {% if question.updatedAt != question.createdAt %}
                <li>Modified on <b>{{ question.updatedAt|date('Y-m-d') }}</b></li>
            {% endif %}
            <li>Difficulty: <b>{{ question.difficulty.label }}</b></li>
        </ul>

        <h3>{{ question.label }} 🤔</h3>

        <img class="pure-img" src="{{ question.codeImage }}" alt="PHP Quiz n°{{ quiz_question.rank }}"/>

        {{ form_start(form, {'attr': {'class': 'pure-form pure-form-stacked'}}) }}
        <fieldset>
            {{ form_errors(form) }}

            <legend>Select your answer: 🧐</legend>
            {{ form_widget(form.answer) }}
            {{ form_errors(form.answer) }}
            <p class="center">
                <button type="submit" class="pure-button pure-button-primary button-xlarge">Submit</button>
            </p>
        </fieldset>
        {{ form_widget(form.quiz_question_id) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
