{% extends 'layout.html.twig' %}

{% block title %}Question n°{{ quiz_question.rank }}/{{ count }}: Answer the following question{% endblock %}

{% set codeImage = absolute_url(asset('img/questions/'~quiz_question.question.codeImageFile)) %}

{% block body %}
    <div class="header">
        <h1>Question {{ quiz_question.rank }}/{{ count }}: Answer the following question</h1>

        {% if quiz_question.rank == 1 %}
            {% set quizUrl = url('quiz_question', {'uuid': quiz_question.quiz.uuid}) %}
            <h2>Your quiz URL is <a href="{{ quizUrl }}">{{ quizUrl }}</a></h2>
            <p>You can finish it later with this URL.</p>
            <p>You have 24 hours to finish your quiz, after this time we can't garantee that
            it will be still available with your previous answers.</p>
        {% endif %}
    </div>

    <div class="content">
        <ul>
            <li>Suggested by <a target="_blank" href="https://twitter.com/{{ question.suggestedBy.twitter }}">{{ question.suggestedBy.twitter }}</a>
            <li>Created on <b>{{ question.createdAt|date('Y-m-d') }}</b></li>
            {% if question.updatedAt != question.createdAt %}
                <li>Modified on <b>{{ question.updatedAt|date('Y-m-d') }}</b></li>
            {% endif %}
            <li>Difficulty: <b>{{ question.difficulty.label }}</b></li>
        </ul>

        <h3>{{ question.label }} 🤔</h3>

        <img class="pure-img" src="{{ codeImage }}" alt="PHP Quiz n°{{ quiz_question.rank }}"/>

        {{ form_start(form, {'attr': {'class': 'pure-form pure-form-stacked'}}) }}
        <fieldset>
            {{ form_errors(form) }}

            <legend>Select your answer: 🧐</legend>
            {{ form_widget(form.answer) }}
            {{ form_errors(form.answer) }}
            <p class="center">
                <button type="submit" class="pure-button pure-button-primary button-xlarge">Submit</button>
            </p>
        </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}
