<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}PHPQuiz: test your PHP knowledge with really hard quiz.{% endblock %}</title>
        <meta name="jsapp" content="{% block jsapp %}app{% endblock %}">
        {% block stylesheets %}
            {{ encore_entry_link_tags(block('jsapp')) }}
        {% endblock %}
    </head>
    <body>
        <div id="layout">
            <a href="#menu" id="menuLink" class="menu-link">
                <span></span>{# Hamburger icon #}
            </a>

            <div id="menu">
                <div class="pure-menu">
                    <a class="pure-menu-heading" href="{{ path('home') }}">PHP Quiz 🐘</a>

                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="{{ path('home') }}" class="pure-menu-link">&raquo; Home</a></li>
                        <li class="pure-menu-item"><a href="{{ path('show', {id: 1}) }}" class="pure-menu-link">&raquo;  Start Quiz</a></li>
                        <li class="pure-menu-item"><a href="{{ path('about') }}" class="pure-menu-link">&raquo;  About</a></li>
                        {#<li class="pure-menu-item menu-item-divided pure-menu-selected">
                            <a href="#" class="pure-menu-link">Services</a>
                        </li>#}
                    </ul>
                </div>
            </div>

            <div id="main">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ preload(asset('js/ui.js'), {as: 'script'}) }}"></script>
            {{ encore_entry_script_tags(block('jsapp')) }}
        {% endblock %}
    </body>
</html>
